body{
    background-color: #070707;
    margin: auto;
}

.title{
    text-align: center;
}

table{
    margin: auto;
    /* width: 50px; */
    padding-left: 30px;
    padding-right: 30px;
}
td{
    /* overflow: auto; */
    column-width: 65px;
    height: 10px;
    min-width: 20px;
    max-width: 120px; */
    
}


 #element{
    border: solid;
    
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #ffffff;
}
/*
#atômico{
    font-size: 70% ;
    text-justify: auto;
    width: 10px;
    padding-top: 2px;
    padding-left: 2px;
}

#símbolo{
    
    font-size: 70%;
    text-align: center;
}

#nome{
    
    text-align: center;
    font-family: serif;
    font-size: 50%;

    width: 100px;
    padding-right: 10px;
    padding-left: 10px;
}
#massa{
    font-size: 50%;
    text-align: center;
    font-family: serif;
    vertical-align: unset;
}
#distribuição{
    font-size: 50%;
} */

/* unvisited link */
